<main class="min-h-screen">
  <app-sidebar
    (bookEmitter)="filterBooks($event)"
  ></app-sidebar>
  <section class="p-5">
    <div class="flex justify-between items-center mb-5">
      <h2 class="font-bold text-lg">Browse books</h2>
      <button class="bg-title-blue px-3 py-2 text-white rounded-lg">View more</button>
    </div>
    <div>
      <div class="grid gap-5 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6">
        <div *ngFor="let book of books$ | async" class="px-3 border border-gray-300 cursor-pointer group" [routerLink]="['/books', book.id]">
          <div class="h-56">
            <img [src]="book.imageUrl" alt="" class="object-cover h-full w-full">
          </div>
          <div class="group-hover:text-title-blue">
            <p>{{ book.title }}</p>
            <p>{{ book.author }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>