<main class="min-h-screen">
  <section class="w-full">
    <div class="bg-title-blue p-4 flex flex-col items-center gap-y-3 md:flex-row">
      <h1 class="font-extrabold text-white text-2xl">
        <a routerLink="/books" href="">BookStore</a>
      </h1>
      <div class="grow text-center">
        <!-- <img src="assets/magnifier.png" alt="" class="inline"> -->
        <input 
          type="text"
          name="search-book"
          id="search-book-input"
          placeholder="Search"
          tabindex="0"
          class="p-2 w-full rounded-md max-w-xl"
        >
      </div>
      <!-- <div class="flex justify-end gap-x-4">
        <img src="assets/notification.png" alt="" class="">
        <img src="assets/shopping-cart.png" alt="">
        <div class="rounded-full border-2 border-white cursor-pointer">
          <img src="assets/image-avatar.png" alt="" class="h-10">
        </div>
      </div> -->
    </div>
  </section>
  <section class="p-5">
    <div class="flex justify-between items-center mb-5">
      <h2 class="font-bold text-lg">Browse books</h2>
      <button class="bg-title-blue px-3 py-2 text-white rounded-lg">View more</button>
    </div>
    <div class="">
      <p>Grid aqui</p>
    </div>
  </section>
</main>