<main class="min-h-screen">
  <section class="w-full">
    <div class="bg-title-blue p-4 flex flex-col items-center gap-y-3 md:flex-row">
      <h1 class="font-extrabold text-white text-2xl">
        <a routerLink="/books" href="">BookStore</a>
      </h1>
      <div class="grow text-center">
        <!-- <img src="assets/magnifier.png" alt="" class="inline"> -->
        <input
          #search
          type="text"
          name="search-book"
          id="search-book-input"
          placeholder="Search"
          tabindex="0"
          class="p-2 w-full rounded-md max-w-xl"
          (keydown.enter)="getAllBooks(search.value)"
        >
      </div>
      <div>
        <button class="text-white" routerLink="/">Sair</button>
      </div>
      <!-- <div class="flex justify-end gap-x-4">
        <img src="assets/notification.png" alt="" class="">
        <img src="assets/shopping-cart.png" alt="">
        <div class="rounded-full border-2 border-white cursor-pointer">
          <img src="assets/image-avatar.png" alt="" class="h-10">
        </div>
      </div> -->
    </div>
  </section>
  <section class="p-5">
    <div class="flex justify-between items-center mb-5">
      <h2 class="font-bold text-lg">Browse books</h2>
      <button class="bg-title-blue px-3 py-2 text-white rounded-lg">View more</button>
    </div>
    <div>
      <div class="grid gap-5 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6">
        <div *ngFor="let book of books$ | async" class="px-3 border border-gray-300 cursor-pointer group" [routerLink]="['/books', book.id]">
          <div class="h-56">
            <img [src]="book.imageUrl" alt="" class="object-cover h-full w-full">
          </div>
          <div class="group-hover:text-title-blue">
            <p>{{ book.title }}</p>
            <p>{{ book.author }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>