<main>
  <app-sidebar></app-sidebar>
  <section class="p-5 space-y-4">
    <h1 class="font-bold text-2xl ">Cadastrar um novo livro</h1>
    <form
      [formGroup]="bookForm" (ngSubmit)="onSubmit()"
      class="space-y-5"
    >
      <div>
        <label for="title">Qual o título do livro?</label>
        <input
          formControlName="title"
          type="text"
          name="title"
          id="title"
          placeholder="Título"
          class="border-inputs"
        >
      </div>
      <div class="space-y-5 lg:space-y-0 lg:space-x-5 lg:flex lg:justify-between lg:items-start">
        <div class="grow">
          <label for="author">Quem é o autor?</label>
          <input
            formControlName="author"
            type="text"
            name="author"
            id="author"
            placeholder="Autor"
            class="border-inputs"
          >
        </div>
        <div>
          <label for="category">Qual a categoria do livro?</label>
          <select
            formControlName="categoryId"
            name="category"
            id="category"
            class="border-inputs bg-white"
          >
            <option
              *ngFor="let category of categories$ | async"
              [value]="category.id"
            >{{ category.title }}</option>
          </select>
        </div>
      </div>
      <div>
        <label for="Resumo (em inglês)">Resumo do livro (em inglês):</label>
        <textarea name="summary-eng" id="summary-eng" cols="30" rows="5"
          class="border-inputs"
          formControlName="summaryEnglish"
        ></textarea>
      </div>
      <div>
        <label for="Resumo (em português)">Resumo do livro (em português):</label>
        <textarea name="summary-ptbr" id="summary-ptbr" cols="30" rows="5"
          class="border-inputs"
          formControlName="summaryPortuguese"
        ></textarea>
      </div>
      <div class="space-y-5">
        <div>
          <label for="audiobook-eng">Áudio do resumo (em inglês):</label>
          <input type="text" name="audiobook-eng" id="audiobook-eng"
            class="border-inputs"
            formControlName="audioSummaryPortugueseUrl"
          >
        </div>
        <div>
          <label for="audiobook-ptbr">Áudio do resumo (em português):</label>
          <input type="text" name="audiobook-ptbr" id="audiobook-ptbr"
            class="border-inputs"
            formControlName="audioSummaryEnglishUrl"
          >
        </div>
      </div>
      <hr>
      <div class="flex justify-end items-center space-x-3">
        <button type="submit"
          [disabled]="!bookForm.valid"
          class="button-forms basis-3/5 md:basis-auto"
        >Cadastrar livro</button>
        <button type="submit"
          routerLink="/books"
          class="button-forms basis-2/5 md:basis-auto bg-gray-600 hover:bg-gray-700"
        >Cancelar</button>
      </div>
    </form>
  </section>
</main>