<main class="min-h-screen w-full py-10 lg:flex lg:py-0">
  <section class="hidden lg:block lg:w-[60%]">
    <img src="assets/login.webp" alt="" class="h-full">
  </section>
  <section class="max-w-md mx-auto px-7 lg:w-[40%] lg:flex lg:flex-col justify-center">
    <h1 class="text-3xl font-bold text-title-blue">Seja bem-vindo(a)!</h1>
    <p>Para acessar a BookStore, insira suas credenciais abaixo:</p>
    <div class="my-5">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-5">
          <label for="email" class="font-bold">E-mail</label>
          <input type="email" name="email" id="input-email" formControlName="email" class="peer border-2 boder-black block p-2 w-full focus:outline-none focus:border-title-blue rounded-md invalid:border-red-600">
          <!-- <p class="invisible peer-invalid:visible">Insira um e-mail válido.</p> -->
        </div>
        <div class="mb-10">
          <label for="password" class="font-bold">Senha</label>
          <input type="password" name="password" id="input-pass" formControlName="password" class="peer border-2 boder-black block p-2 w-full focus:outline-none focus:border-title-blue rounded-md invalid:border-red-600">
        </div>
        <div>
          <button type="submit" class="w-full bg-title-blue p-3 rounded-md hover:outline-none font-bold hover:bg-button-hover">Entrar!</button>
        </div>
      </form>
    </div>
  </section>
</main>