<section class="w-full">
  <div class="bg-title-blue p-4 flex flex-col items-center gap-y-3 md:flex-row">
    <h1 class="font-extrabold text-white text-2xl">
      <a routerLink="/books" href="">BookStore</a>
    </h1>
    <div class="grow text-center">
      <!-- <img src="assets/magnifier.png" alt="" class="inline"> -->
      <input
        #search
        type="text"
        name="search-book"
        id="search-book-input"
        placeholder="Search"
        tabindex="0"
        class="p-2 w-full rounded-md max-w-xl"
        (keydown.enter)="filterBooks(search.value)"
      >
    </div>
    <div>
      <button class="text-white" routerLink="/" (click)="deleteToken()">Sair</button>
    </div>
  </div>
</section>